<!DOCTYPE html>
<html>
    <head>
        <title>blog shenanigans</title>
    </head>
    <body>
        <header>
            <h1><a href="/">blog blog blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">wooowwwee</a></h2>
            <p>Hows it going king?</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Post 2?</a></h2>
            <p>"boing boing" - spring noises</p>
        </article>
    </body>
</html>